<div class="content-wrapper">

        <div class="row">
                <div class="col-12 col-xl-12 grid-margin stretch-card">
                        <div class="row w-100 flex-grow">
                                <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                                <div class="card-body">
                                                        <h4 class="card-title">Historial notificaciones</h4>
                                                        
                                                        <div class="row">
                                                                <div class="col-md-12">
                                                                        <div *ngFor="let not of notificaciones"  class="alert alert-primary" style="background-color: #CCE5FF;" role="alert">
                                                                                {{not.cmsgnot}} ({{not.cnomtic}}) : {{not.dfecmod}}
                                                                        </div>

                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
</div>