<div class="content-wrapper">

    <div class="row">
            <div class="col-12 col-xl-12 grid-margin stretch-card">
                    <div class="row w-100 flex-grow">
                            <div class="col-md-12 grid-margin stretch-card">

                                <div class="card"  >
                                        <div class="card-body">
                                          <h4 class="card-title">Asignar Ticket</h4>
                                                <input type="text" class="form-control" style="float: right; width: 200px;" id="exampleInputUsername1" placeholder="buscar Tickets">
                                          <div class="table-responsive">
                                            <table aria-describedby="MyTable" class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th scope="col">
                                                    detalle
                                                  </th>
                                                  <th scope="col">
                                                    Tipo
                                                  </th>
                                                  <th scope="col">
                                                    Nombre del proyecto
                                                  </th>
                                                  <th scope="col">
                                                    Asunto
                                                  </th>
                                                  <th scope="col">
                                                    Descripcion
                                                  </th>
                                                  <th scope="col">
                                                    Prioridad
                                                  </th>
                                                  <th scope="col">
                                                    Fecha
                                                  </th>                                                  
                                                  <th scope="col">
                                                    Estado
                                                  </th>
                                                  <th scope="col">
                                                    Progreso
                                                  </th>                                                  
                                                </tr>
                                              </thead>
                                              <tbody>

                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                </div>


                            </div>


                    </div>
            </div>

    </div>
</div>