<div class="content-wrapper">

        <div class="row">
                <div class="col-12 col-xl-12 grid-margin stretch-card">
                        <div class="row w-100 flex-grow">
                                <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                                <div class="card-body">
                                                                <h4 class="card-title">Mantenimiento de Variables</h4>

                                                              <input type="text" class="form-control" style="float: right; width: 200px;" id="exampleInputUsername1" >
                                                        <br>
                                                        <button type="button" class="btn btn-success btn-icon-text" (click)="abrilModal('Registro')">
                                                                <i class="mdi mdi-alert mdi-file-plus"></i>                                                    
                                                                Agregar Variable
                                                        </button>

                                                                        <div class="table-responsive">
                                                                                <table aria-describedby="myTable" class="table table-striped">
                                                                                        <thead>
                                                                                          <tr>
                                                                                            <th scope="col">
                                                                                              Contenido
                                                                                            </th>
                                                                                            <th scope="col">
                                                                                              Descripcion
                                                                                            </th>
                                                                                            <th scope="col">
                                                                                              Nombre
                                                                                            </th>                                                 
                                                                                            <th scope="col">
                                                                                              Fecha
                                                                                            </th>
                                                                                            <th scope="col">
                                                                                              Acciones
                                                                                            </th>                       
                                                                                          </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          <tr *ngFor="let variable of variables">
                                                                                                 
                                                                                                  <td class="py-1">
                                                                                                        {{variable.cconvar}}
                                                                                                  </td>
                                                                                                  <td>
                                                                                                        {{variable.cdesvar}}
                                                                                                  </td>
                                                                                                  <td>
                                                                                                        {{variable.cnomvar}}
                                                                                                  </td>
                                                                                                  
                                                                                                  <td>
                                                                                                        {{variable.dfecmod}}
                                                                                                  </td> 
                                                                                                  <td>
                                                                                                    <i title="Detalle" class="mdi mdi-view-list color-detalle" 
                                                                                                    aria-hidden="true"  (click)="abrilModal('Detalle',variable)"></i>
                                                                                                    <i title="Editar" class="mdi mdi-pencil-box-outline color-editar" aria-hidden="true"  (click)="abrilModal('Editar',variable)"></i>
                                                                                              </td> 
                                                                                                </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                                      
                                                                        </div>
                                                                        <div class="row">
                                                                                        <div class="col-sm-12 centrarCaja">
                                                                                                <div class="description-block border-right ">
                                                                                                        <ul class="pagination ">
                                
                                
                                                                                                                <ngx-light-pagination
                                                                                                                        [color]="themeColor"
                                                                                                                        [paginationData]="paginationMeta"
                                                                                                                        (onPageChange)="paginationEvents($event)">
                                                                                                                </ngx-light-pagination>
                                
                                
                                                                                                        </ul>
                                
                                                                                                </div>
                                
                                                                                                <!-- /.description-block -->
                                                                                        </div>
                                
                                                                                        <!-- /.row -->
                                                                                        </div>
                                                                        <div class="modal animated fadeIn" id="modal-lg" style="padding-right: 17px;" aria-modal="true" [ngClass]="show" [ngStyle]="{'display':colorEstado}"
                                                                    role="dialog">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">{{tituloModal}} Proyecto</h4>
                                                                                <button (click)="cerrarModal()" type="button" class="close"
                                                                                    data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">×</span>
                                                                                </button>
                                                                            </div>
                                                                            <div [ngClass]="tituloModal == 'Detalle' ? 'modal-bodydet' : 'modal-body'"> 
                                                                                <div class="card-body">
                                                                                        <form class="forms-sample" [formGroup]="variableRegistro!" (ngSubmit)="guardarVariables()">
                                                                                          <div class="form-group row">
                                                                                                <label class="col-sm-3 col-form-label ">Contenido</label>
                                                                                                <div class="col-sm-9">
                                                                                                  <input type="text" class="form-control bordercustom" placeholder="Contenido de la variable" formControlName="cconvar" value="{{detalle?.cconvar}}">
                                                                                                </div>
                                                                                                <label class="col-sm-3 col-form-label ">Nombre</label>
                                                                                                <div class="col-sm-9">
                                                                                                  <input type="text" class="form-control bordercustom" placeholder="Nombre de la Variable" formControlName="cnomvar" value="{{detalle?.cnomvar}}">
                                                                                                </div>
                                                                                                <label class="col-sm-3 col-form-label ">Descripcion</label>
                                                                                                <div class="col-sm-9">
                                                                                                  <input type="text" class="form-control bordercustom" placeholder="Descripcion" formControlName="cdesvar" value="{{detalle?.cdesvar}}">
                                                                                                </div>
                                                                                                <label class="col-sm-3 col-form-label ">Tipo</label>
                                                                                                <div class="col-sm-9">
                                                                                                  <input type="text" class="form-control bordercustom" placeholder="Tipo de variable" formControlName="ctipvar" value="{{detalle?.ctipvar}}">
                                                                                                </div>

                                                                                          </div>
                                                                                          <button *ngIf="tituloModal!=='Detalle'" type="submit" class="btn btn-primary  btnderecha" >Guardar Cambios</button>
                                                                                          <br><br>
                                                                                        </form>
                                                                                      </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <h5 class="modal-title">Recuerde validar los datos</h5>
                                                                            </div>
                                    
                                                                        </div>
                                                                        <!-- /.modal-content -->
                                                                    </div>
                                                                    <!-- /.modal-dialog -->
                                                                    </div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
    
                        </div>
                </div>
    