<div class="content-wrapper">

        <div class="row">
                <div class="col-12 col-xl-12 grid-margin stretch-card">
                        <div class="row w-100 flex-grow">
                                <div class="col-md-12 grid-margin stretch-card">
                                        <div class="card">
                                                <div class="card-body">
                                                        <h4 class="card-title">Mantenimiento de Proyectos</h4>
                                                        <br>

                                                        <button type="button" class="btn btn-success btn-icon-text"
                                                                (click)="abrilModal('registrar')">
                                                                <i class="mdi mdi-alert mdi-file-plus"
                                                                        aria-hidden="true"></i>
                                                                Agregar Proyecto
                                                        </button> 
                                                        <input type="text" class="form-control bordercustom"
                                                                style="float: right; width: 200px;"
                                                                id="exampleInputUsername1"
                                                                placeholder="buscar Proyecto"
                                                                (keyup)="buscar(txtTermino.value)"  
                                                                #txtTermino>
                                                        <br>
                                                        <div class="row">
                                                                <div class="col-md-12">
                                                                        <div class="table-responsive">
                                                                                <table aria-describedby="myTable"
                                                                                        class="table table-striped">
                                                                                        <thead>
                                                                                                <tr>
                                                                                                        <th scope="col">
                                                                                                                Nombre
                                                                                                        </th>
                                                                                                        <th scope="col">
                                                                                                                Cliente
                                                                                                        </th>
                                                                                                        <th scope="col">
                                                                                                                Descripcion
                                                                                                        </th>
                                                                                                        <th scope="col">
                                                                                                                Estado
                                                                                                        </th>
                                                                                                        <th scope="col">
                                                                                                                Acciones
                                                                                                        </th>
                                                                                                </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                                <tr
                                                                                                        *ngFor="let proyecto of proyectos">

                                                                                                        <td
                                                                                                                class="py-1">
                                                                                                                {{proyecto.cnompro}}
                                                                                                        </td>
                                                                                                        <td>
                                                                                                                {{proyecto.ccodcli.cnomusu}}
                                                                                                        </td>
                                                                                                        <td>

                                                                                                                <div class="rejilla"
                                                                                                                        style="max-width: auto;"
                                                                                                                        [innerHtml]="valirTexto(proyecto.cdescri)">
                                                                                                                </div>
                                                                                                                
                                                                                                        </td>
                                                                                                        <td>
                                                                                                                
                                                                                                                <p *ngIf="proyecto.cestado === true">Activo</p>
                                                                                                                <p *ngIf="proyecto.cestado === false">Inactivo</p>

                                                                                                                
                                                                                                        </td>
                                                                                                        <td> 
                                                                                                                <i title="Editar"
                                                                                                                        class="mdi mdi-pencil-box-outline color-editar"
                                                                                                                        aria-hidden="true" (click)="abrilModalUpdate(proyecto)"></i>
                                                                                                        </td>

                                                                                                </tr>
                                                                                        </tbody>
                                                                                </table>
                                                                        </div>
                                                                        <!-- Registrar -->
                                                                        <div class="modal animated fadeIn" id="modal-lg"
                                                                                style="padding-right: 17px;"
                                                                                aria-modal="true" [ngClass]="show"
                                                                                [ngStyle]="{'display':colorEstado}"
                                                                                role="dialog">
                                                                                <div class="modal-dialog modal-lg">
                                                                                        <div class="modal-content">
                                                                                                <div class="modal-header">
                                                                                                        <h4
                                                                                                                class="modal-title">
                                                                                                                Registro
                                                                                                                Proyecto
                                                                                                        </h4>
                                                                                                        <button (click)="cerrarModal('registrar')"
                                                                                                                type="button"
                                                                                                                class="close"
                                                                                                                data-dismiss="modal"
                                                                                                                aria-label="Close">
                                                                                                                <span aria-hidden="true">×</span>
                                                                                                        </button>
                                                                                                </div>
                                                                                                <div class="modal-bodyCan">
                                                                                                        <div class="card-body">
                                                                                                                <form class="forms-sample"
                                                                                                                        [formGroup]="proyectoRegistro!"
                                                                                                                        (ngSubmit)="registroProyecto()">
                                                                                                                        <div
                                                                                                                                class="form-group row">
                                                                                                                                <label
                                                                                                                                        class="col-sm-3 col-form-label ">Nombre Proyecto</label>
                                                                                                                                <div
                                                                                                                                        class="col-sm-9">
                                                                                                                                        <input type="text"
                                                                                                                                                class="form-control bordercustom"
                                                                                                                                                placeholder="Asunto"
                                                                                                                                                formControlName="cnompro" >
                                                                                                                                </div>

                                                                                                                                <label
                                                                                                                                        class="col-sm-3 col-form-label">Cliente
                                                                                                                                        :
                                                                                                                                </label>
                                                                                                                                <div
                                                                                                                                        class="col-sm-9">
                                                                                                                                        <select class="form-control form-control-sm bordercustom"
                                                                                                                                                formControlName="ccodcli" >
                                                                                                                                                <option *ngFor="let usu of lstUsu"
                                                                                                                                                        value="{{usu.uid}}">
                                                                                                                                                        {{usu.cnomusu}}
                                                                                                                                                </option>
                                                                                                                                        </select>
                                                                                                                                </div>

                                                                                                                                <label
                                                                                                                                        class="col-sm-12 col-form-label">Descripcion
                                                                                                                                        proyecto</label>
                                                                                                                                        <textarea class="form-control bordercustom" id="exampleTextarea1" rows="4" formControlName="cdescri"></textarea>

                                                                                                                        </div>
                                                                                                                        <button type="submit"
                                                                                                                                class="btn btn-primary btn-rounded btn-fw">Guardar</button>
                                                                                                                        <button type="button"
                                                                                                                                class="btn btn-danger btn-rounded btn-fw"
                                                                                                                                (click)="cerrarModal('registrar')">Cancelar</button>
                                                                                                                </form>
                                                                                                        </div>
                                                                                                </div>


                                                                                        </div>
                                                                                        <!-- /.modal-content -->
                                                                                </div>
                                                                                <!-- /.modal-dialog -->
                                                                        </div>

                                                                        <!-- ACTUALIZAR REGISTRO -->
                                                                        <div class="modal animated fadeIn" id="modal-lg"
                                                                                style="padding-right: 17px;"
                                                                                aria-modal="true" [ngClass]="showUpdate"
                                                                                [ngStyle]="{'display':colorEstadoUpdate}"
                                                                                role="dialog">
                                                                                <div class="modal-dialog modal-lg">
                                                                                        <div class="modal-content">
                                                                                                <div
                                                                                                        class="modal-header">
                                                                                                        <h4
                                                                                                                class="modal-title">
                                                                                                                Actualizar
                                                                                                                Proyecto
                                                                                                        </h4>
                                                                                                        <button (click)="cerrarModal('registrar')"
                                                                                                                type="button"
                                                                                                                class="close"
                                                                                                                data-dismiss="modal"
                                                                                                                aria-label="Close">
                                                                                                                <span aria-hidden="true">×</span>
                                                                                                        </button>
                                                                                                </div>
                                                                                                <div
                                                                                                        class="modal-body">
                                                                                                        <div
                                                                                                                class="card-body">
                                                                                                                <form class="forms-sample"
                                                                                                                        [formGroup]="proyectoRegistro!"
                                                                                                                        (ngSubmit)="actualizarProyecto()">
                                                                                                                        <div
                                                                                                                                class="form-group row">
                                                                                                                                <label
                                                                                                                                        class="col-sm-3 col-form-label ">Nombre de proyecto</label>
                                                                                                                                <div
                                                                                                                                        class="col-sm-9">
                                                                                                                                        <input type="text"
                                                                                                                                                class="form-control bordercustom"
                                                                                                                                                placeholder="Asunto"
                                                                                                                                                formControlName="cnompro" >
                                                                                                                                </div>

                                                                                                                                <label
                                                                                                                                        class="col-sm-3 col-form-label">Cliente
                                                                                                                                        :
                                                                                                                                </label>

                                                                                                                                <div
                                                                                                                                        class="col-sm-9">
                                                                                                                                        <select class="form-control form-control-sm bordercustom"
                                                                                                                                                formControlName="ccodcli" >
                                                                                                                                                <option *ngFor="let usu of lstUsu"
                                                                                                                                                        value="{{usu.uid}}">
                                                                                                                                                        {{usu.cnomusu}}
                                                                                                                                                </option>
                                                                                                                                        </select>
                                                                                                                                </div>
                                                                                                                                
                                                                                                                                

                                                                                                                                <label
                                                                                                                                        class="col-sm-3 col-form-label">Estado
                                                                                                                                        :
                                                                                                                                </label>
                                                                                                                                <div
                                                                                                                                        class="col-sm-9">
                                                                                                                                        <select class="form-control form-control-sm bordercustom"
                                                                                                                                                formControlName="cestado" >
                                                                                                                                                <option value="true">Activo</option>
                                                                                                                                                <option value="false">Inactivo</option>
                                                                                                                                        </select>
                                                                                                                                </div>
                                                                                                                                
                                                                                                                                

                                                                                                                                <label
                                                                                                                                        class="col-sm-12 col-form-label">Descripcion
                                                                                                                                        proyecto</label>
                                                                                                                                        <textarea class="form-control bordercustom" id="exampleTextarea1" rows="4" formControlName="cdescri"></textarea>        


                                                                                                                        </div>
                                                                                                                        <button type="submit"
                                                                                                                                class="btn btn-primary btn-rounded btn-fw">Guardar</button>
                                                                                                                        <button type="button"
                                                                                                                                class="btn btn-danger btn-rounded btn-fw"
                                                                                                                                (click)="cerrarModalUpdate()">Cancelar</button>
                                                                                                                </form>
                                                                                                        </div>
                                                                                                </div>


                                                                                        </div>
                                                                                        <!-- /.modal-content -->
                                                                                </div>
                                                                                <!-- /.modal-dialog -->
                                                                        </div>
                                                                </div>

                                                        </div>

                                                </div>
                                                <div class="row">
                                                        <div class="col-sm-12 centrarCaja">
                                                                <div class="description-block border-right ">
                                                                        <ul class="pagination ">


                                                                                <ngx-light-pagination
                                                                                        [color]="themeColor"
                                                                                        [paginationData]="paginationMeta"
                                                                                        (onPageChange)="paginationEvents($event)">
                                                                                </ngx-light-pagination>


                                                                        </ul>

                                                                </div>

                                                                <!-- /.description-block -->
                                                        </div>

                                                        <!-- /.row -->
                                                </div>
                                        </div>
                                </div>

                        </div>
                </div>

        </div>
</div>