<div class="content-wrapper">

    <div class="row">
            <div class="col-12 col-xl-12 grid-margin stretch-card">
                    <div class="row w-100 flex-grow">
                            <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                            <div class="card-body">
                                                    <h4 class="card-title">Mantenimiento de Proyectos</h4>
                                                    <br>
                                                          
                                                          <button type="button" class="btn btn-success btn-icon-text">
                                                                  <i class="mdi mdi-alert mdi-file-plus"></i>                                                    
                                                                  Agregar Proyecto
                                                          </button>
          
          
                                                          <input type="text" class="form-control" style="float: right; width: 200px;" id="exampleInputUsername1" placeholder="buscar Proyecto">
                                                    <br>
                                                    <div class="row">
                                                            <div class="col-md-12">
                                                                    <div class="table-responsive">
                                                                            <table class="table table-striped">
                                                                                    <thead>
                                                                                      <tr>
                                                                                        <th>
                                                                                          Nombre
                                                                                        </th>
                                                                                        <th>
                                                                                          Cliente
                                                                                        </th>
                                                                                        <th>
                                                                                          Descripcion
                                                                                        </th>                                                 
                                                                                        <th>
                                                                                          Estado
                                                                                        </th>
                                                                                        <th>                                             
                                                                                      </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                      <tr>
                                                                                             
                                                                                              <td class="py-1">
                                                                                                      Proyecto 1
                                                                                              </td>
                                                                                              <td>
                                                                                                      Cliente 1
                                                                                              </td>
                                                                                              <td>
                                                                                                      Se nesecita cambiar el estilo del boton
                                                                                              </td>
                                                                                              <td>
                                                                                                     Se acepto el ticket y fue derivado al area de desarrollo
                                                                                              </td>
                                                                                              <td>
                                                                                                    2021-01-27
                                                                                              </td> 
                                                                                              <td>
                                                                                                      ASIGNADO
                                                                                                  
                                                                                              </td> 
                                                                                            </tr>
                                                                                    </tbody>
                                                                                  </table>
                                                                    </div>

                                                            </div>
                                                    </div>
                                            </div>
                                    </div>
                            </div>

                    </div>
            </div>

    </div>
</div>