<div class="content-wrapper">

  <div class="row">
    <div class="col-12 col-xl-12 grid-margin stretch-card">
      <div class="row w-100 flex-grow">
        <div class="col-md-12 grid-margin stretch-card">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Mantenimiento de Tickets</h4>
              <br>

              <button type="button" class="btn btn-success btn-icon-text" (click)="abrirModalregistro()">
                <i class="mdi mdi-alert mdi-file-plus" aria-hidden="true"></i>
                Agregar Ticket
              </button>


              <input type="text" class="form-control bordercustom" style="float: right; width: 200px;" id="exampleInputUsername1"
                placeholder="buscar Tickets"
                (keyup)="BuquedaTicket(txtTermino.value)"  
                #txtTermino>
              <br>
              <div class="table-responsive">
                <table aria-describedby="myTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">
                        Tipo
                      </th>
                      <th scope="col">
                        Nombre del proyecto
                      </th>
                      <th scope="col">
                        Asunto
                      </th>
                      <th scope="col">
                        Descripcion
                      </th>
                      <th scope="col">
                        Prioridad
                      </th>
                      <th scope="col">
                        Fecha
                      </th>
                      <th scope="col">
                        Estado
                      </th>
                      <th scope="col">
                        Progreso
                      </th>
                      <th scope="col">
                        Acciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ticket of tickets">
                      <td class="py-1">
                        {{ticket.ctiptic.cdesvar}}
                      </td>
                      <td>
                        {{ticket.cnompro.cnompro}}
                      </td>
                      <td>
                        {{ticket.cdesasu}}
                      </td>
                      <td>

                        <div class="rejilla" style="max-width: auto;" [innerHtml]="valirTexto(ticket.cdescri)"></div>
                      </td>
                      <td>



                        <label [ngStyle]="{'background-color':ticket.cpriori.cdesvar}"
                          class="badge">{{ticket.cpriori.cconvar}} </label>
                      </td>
                      <td>
                        {{ticket.dfecreg}}
                      </td>
                      <td>
                        {{ticket.cestado}}

                      </td>
                      <td>

                        <div class="progress" *ngIf="ticket.cestado === 'registrado'">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>

                        <div class="progress" *ngIf="ticket.cestado === 'asignado'">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress bordercustom" *ngIf="ticket.cestado === 'resuelto'">
                          <div class="progress-bar bg-success " role="progressbar" style="width: 75%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress " *ngIf="ticket.cestado === 'terminado'">
                          <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress" *ngIf="ticket.cestado === 'devuelto'">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>
                        <div class="progress" *ngIf="ticket.cestado === 'anulado'">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100">
                          </div>
                        </div>

                      </td>
                      <td>
                        <i title="Detalle" class="mdi mdi-view-list color-detalle" (click)="abrirModalDetalle(ticket)"
                          aria-hidden="true"></i>
                        <i *ngIf="ticket.cestado === 'registrado'" title="Editar" class="mdi mdi-pencil-box-outline color-editar" aria-hidden="true" (click)="abrirModalUpdate(ticket)"></i>
                        <i *ngIf="ticket.cestado === 'registrado'" title="Eliminar"
                          class="mdi mdi-delete-forever color-eliminar"  aria-hidden="true" (click)="anularTicket(ticket)"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 centrarCaja">
                <div class="description-block border-right ">
                  <ul class="pagination ">


                    <ngx-light-pagination [color]="themeColor" [paginationData]="paginationMeta"
                      (onPageChange)="paginationEvents($event)">
                    </ngx-light-pagination>


                  </ul>

                </div>

                <!-- /.description-block -->
              </div>

              <!-- /.row -->
            </div>
          </div>
          <!-- REGISTRO TICKET -->
          <div class="modal animated fadeIn " id="modal-lg" style="padding-right: 17px;" aria-modal="true"
            [ngClass]="show" [ngStyle]="{'display':colorEstado}" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Registro de Ticket</h4>
                  <button (click)="cerrarModal('registro')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="card-body">
                    <form class="forms-sample" [formGroup]="ticketRegistro!" (ngSubmit)="guardarTicket()">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tipo</label>

                        <div class="col-sm-9">
                          <select class="form-control form-control-sm bordercustom" formControlName="ctiptic">
                            <option *ngFor="let tip of tipo" value="{{tip.uid}}">{{tip.cdesvar}}</option>
                          </select>
                        </div>

                        <label class="col-sm-3 col-form-label">Nombre del proyecto</label>
                        <div class="col-sm-9">
                          <select class="form-control form-control-sm bordercustom" formControlName="cnompro">
                            <option *ngFor="let pro of proyectos" value="{{pro.uid}}">{{pro.cnompro}}</option>
                          </select>
                        </div>

                        <label class="col-sm-3 col-form-label ">Asunto</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control bordercustom" placeholder="Asunto"
                            formControlName="cdesasu">
                        </div>


                        <label class="col-sm-3 col-form-label">Prioridad</label>
                        <div class="col-sm-9">
                          <select class="form-control form-control-sm bordercustom" formControlName="cpriori">
                            <option *ngFor="let pri of priori" value="{{pri.uid}}">{{pri.cconvar}}</option>
                          </select>
                        </div>


                        <label class="col-sm-3 col-form-label">Descripcion del</label>
                        <div class="col-sm-9">
                          <textarea class="form-control bordercustom" id="exampleTextarea1" rows="4"
                            formControlName="cdescri"></textarea>
                        </div>
                        <br>
                        <label class="col-sm-3 col-form-label">Subir Archivo</label>
                        <div class="col-sm-9">
                          <div class="mb-1">
                            <input class="form-control form-control-xl" (change)="cambiarArchivo($event)" id="formFileSm"
                              type="file" formControlName="carcadj">
                          </div>
                        </div>

                      </div>



                      <button type="submit" class="btn btn-primary  btnderecha" style=>Registrar</button>

                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <h5 class="modal-title">Recuerde validar los datos</h5>
                </div>

              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>




          <!-- DETALLE TICKET -->
          <div class="modal animated fadeIn" id="modal-lg" style="padding-right: 17px;" aria-modal="true"
            [ngClass]="showDetalle" [ngStyle]="{'display':colorEstadoDetalle}" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Detalle de Ticket</h4>
                  <button (click)="cerrarModal('detalle')" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-bodyCan">
                  <div class="card-body">
                    <form class="forms-sample" [formGroup]="ticketRegistro!">
                      <div class="form-group row">

                        <label class="col-sm-3 col-form-label ">Asunto</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control bordercustom" disabled
                            value="{{detalle?.ctiptic.cdesvar}}">
                        </div>

                        <label class="col-sm-3 col-form-label">Nombre del proyecto</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control bordercustom" disabled
                            value="{{detalle?.cnompro.cnompro}}">
                        </div>

                        <label class="col-sm-3 col-form-label ">Asunto</label>

                        <div class="col-sm-9">
                          <input type="text" class="form-control bordercustom" disabled value="{{detalle?.cdesasu}}">
                        </div>


                        <label class="col-sm-3 col-form-label">Prioridad</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control bordercustom" disabled
                            value="{{detalle?.cpriori.cconvar}}">
                        </div>


                        <label class="col-sm-3 col-form-label">Descripcion</label>
                        <div class="col-sm-9">
                          
                            <textarea class="form-control bordercustom" id="exampleTextarea1" rows="4"
                             value="{{detalle?.cdescri}}" disabled></textarea>
                        </div>




                        <br>
                        <label class="col-sm-3 col-form-label">Archivo</label>
                        <br>
                        <div class="col-sm-9">
                          <button type="button" class="btn btn-primary btn-lg btn-block"
                            (click)="abrirLink(detalle?.carcadj)" target="_blank">
                            <i class="mdi mdi-account"></i>
                            Descargar Archivo
                          </button>

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <h5 class="modal-title">Recuerde validar los datos</h5>
                </div>

              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>




          
          <!-- UPDATE TICKET -->
          <div class="modal animated fadeIn " id="modal-lg" style="padding-right: 17px;" aria-modal="true"
          [ngClass]="showUpdate" [ngStyle]="{'display':colorEstadoUpdate}" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Actualizar Ticket</h4>
                <button (click)="cerrarModal('update')" type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <form class="forms-sample" [formGroup]="ticketRegistro!" (ngSubmit)="actualziarTicket()">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Tipo</label>

                      <div class="col-sm-9">
                        <select class="form-control form-control-sm bordercustom" formControlName="ctiptic">
                          <option *ngFor="let tip of tipo" value="{{tip.uid}}">{{tip.cdesvar}}</option>
                        </select>
                      </div>

                      <label class="col-sm-3 col-form-label">Nombre del proyecto</label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm bordercustom" formControlName="cnompro" >
                          <option *ngFor="let pro of proyectos" value="{{pro.uid}}">{{pro.cnompro}}</option>
                        </select>
                      </div>

                      <label class="col-sm-3 col-form-label ">Asunto</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control bordercustom" placeholder="Asunto"
                          formControlName="cdesasu">
                      </div>


                      <label class="col-sm-3 col-form-label">Prioridad</label>
                      <div class="col-sm-9">
                        <select class="form-control form-control-sm bordercustom" formControlName="cpriori">
                          <option *ngFor="let pri of priori" value="{{pri.uid}}">{{pri.cconvar}}</option>
                        </select>
                      </div>


                      <label class="col-sm-3 col-form-label">Descripcion del</label>
                      <div class="col-sm-9">
                        <textarea class="form-control bordercustom" id="exampleTextarea1" rows="4"
                          formControlName="cdescri"></textarea>
                      </div>
                      <br>
                      <label class="col-sm-3 col-form-label">Subir Archivo</label>
                      <div class="col-sm-9">
                        <div class="mb-1">
                          <input class="form-control form-control-xl" (change)="cambiarArchivo($event)" id="formFileSm"
                            type="file" #temporal>
                        </div>
                      </div>

                    </div>



                    <button type="submit" class="btn btn-primary  btnderecha" style=>Registrar</button>

                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <h5 class="modal-title">Recuerde validar los datos</h5>
              </div>

            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        </div>


      </div>
    </div>

  </div>
</div>