
<div class="content-wrapper">

    <div class="row">
            <div class="col-12 col-xl-12 grid-margin stretch-card">
                    <div class="row w-100 flex-grow">
                            <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">

                                            <div class="card-body">
                                                    <h4 class="card-title">Tickets Asignados </h4>
                                                    <p class="card-description">
                                                        
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                                    <input type="text" class="form-control bordercustom" style="float: right; width: 180px;" id="exampleInputUsername1"
                                                                    placeholder="buscar Tickets"
                                                                    (keyup)="BuquedaTicket(txtTermino.value)"  
                                                                    #txtTermino>
                                                                <div class="table-responsive">
                                                                  
                                                                        <table aria-describedby="MyTable" class="table table-striped">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th scope="col">
                                                                                      Tipo
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Nombre del proyecto
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Asunto
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Descripcion
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Prioridad
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Fecha
                                                                                    </th>                                                  
                                                                                    <th scope="col">
                                                                                      Estado
                                                                                    </th>
                                                                                    <th scope="col">
                                                                                      Progreso
                                                                                    </th>   
                                                                                    <th scope="col">
                                                                                      Acciones
                                                                                    </th>                                                 
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                  <tr *ngFor="let ticket of Tickets"> 
                                                                                         
                                                                                          <td class="py-1">
                                                                                                  {{ticket.ctiptic.cdesvar}}
                                                                                          </td>
                                                                                          <td>
                                                                                                  {{ticket.cnompro.cnompro}}
                                                                                          </td>
                                                                                          <td>
                                                                                                  {{ticket.cdesasu}}
                                                                                          </td>
                                                                                          <td>
                                                                                            {{ticket.cdescri}}
                                                                                          </td>
                                                                                          <td >
                                                                                            
                                                                                            
                                                                                            
                                                                                            <label 
                                                                                            [ngStyle]="{'background-color':ticket.cpriori.cdesvar}"
                                                                                            class="badge">{{ticket.cpriori.cconvar}}  </label>
                                                                                          </td>
                                                                                          <td>
                                                                                              {{ticket.dfecreg}}
                                                                                          </td>   
                                                                                          <td>
                                                                                                  {{ticket.cestado}}
                                                                                              
                                                                                          </td>                                                                                                             
                                                                                          <td>
                                                                                            <div class="progress" *ngIf="ticket.cestado === 'registrado'">
                                                                                              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="100"
                                                                                                aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                    
                                                                                            <div class="progress" *ngIf="ticket.cestado === 'asignado'">
                                                                                              <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="100"
                                                                                                aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="progress bordercustom" *ngIf="ticket.cestado === 'resuelto'">
                                                                                              <div class="progress-bar bg-success " role="progressbar" style="width: 75%"
                                                                                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="progress " *ngIf="ticket.cestado === 'terminado'">
                                                                                              <div class="progress-bar bg-success " role="progressbar" style="width: 100%"
                                                                                                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="progress" *ngIf="ticket.cestado === 'devuelto'">
                                                                                              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                                                                                                aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="progress" *ngIf="ticket.cestado === 'anulado'">
                                                                                              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
                                                                                                aria-valuemin="0" aria-valuemax="100">
                                                                                              </div>
                                                                                            </div>
                                                                                          </td>
                                                                                          <td>
                                                                                            <i  title="Detalle" class="mdi mdi-view-list color-detalle" aria-hidden="true" (click)="abrirModal(ticket)"></i>
                                                                                            <i *ngIf="ticket.cestado === 'asignado'" title="Editar" class="mdi mdi-pencil-box-outline color-editar" aria-hidden="true" (click)="abrirModalUpdate(ticket)"></i>
                                                                                          </td>
                                                                                        </tr>
                                                                                </tbody>
                                                                              </table>
                                                                </div>

                                                                <!-- DETALLE -->
                                                                <div class="modal animated fadeIn" id="modal-lg" style="padding-right: 17px;" aria-modal="true" [ngClass]="show" [ngStyle]="{'display':colorEstado}"
                                                                role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Detalle Ticket</h4>
                                                                            <button (click)="cerrarModal('detalle')" type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-bodyCan"> 
                                                                            <div class="card-body">
                                                                                    <form class="forms-sample" >
                                                                                      <div class="form-group row">
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Tipo :</label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="Asunto" disabled value="{{detalle?.ctiptic.cdesvar}}" >
                                                                                        </div>
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Nombre del proyecto : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="Asunto" disabled value="{{detalle?.cnompro.cnompro}}">
                                                                                        </div>
                      
                                                                                        <label class="col-sm-3 col-form-label">Asunto : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="Asunto" disabled value="{{detalle?.cdesasu}}">
                                                                                        </div>
                       
                      
                                                                                        <label class="col-sm-3 col-form-label">Prioridad : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="Asunto" disabled value="{{detalle?.cpriori.cconvar}}" >
                                                                                        </div>
                      
                                                                                        <label class="col-sm-3 col-form-label">Descripcion : </label>
                                                                                        <div class="col-sm-9" style="padding-bottom: 20px;">
                                                                                          <textarea class="form-control bordercustom" id="exampleTextarea1" rows="6" disabled value="{{detalle?.cdescri}}" ></textarea>
                                                                                        </div>
                      
                                                                                        <label class="col-sm-3 col-form-label">Analista :</label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="El dia en numero" disabled value="{{detalle?.cateasi.cnomusu}}" >
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label">Dias permitidos : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="El dia en numero" disabled value="{{detalle?.cdiaapr}}" >
                                                                                        </div>
                      
                                                                                        <label class="col-sm-3 col-form-label">Descripcion Atencion cliente</label>
                                                                                        
                                                                                        <div class="col-sm-9" style="padding-bottom: 20px;">
                                                                                          <textarea class="form-control bordercustom" id="exampleTextarea1" rows="6" disabled value="{{detalle?.cdesate}}"></textarea>
                                                                                        </div>
                                                                                        <label class="col-sm-3 col-form-label">Desarrollador Asignado : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" disabled value="{{detalle?.cdesasi.cnomusu}}" >
                                                                                        </div>
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Descripcion Desarrollo</label>
                                                                                        <div class="col-sm-9" style="padding-bottom: 20px;">
                                                                                          <textarea class="form-control bordercustom" id="exampleTextarea1" rows="6" disabled value="{{detalle?.cdesdes}}"></textarea>
                                                                                        </div>
                      
                                                                                        <label class="col-sm-3 col-form-label">Archivo</label>
                                                                                        <br>
                                                                                        <div class="col-sm-9">
                                                                                          <button type="button" class="btn btn-primary btn-lg btn-block "
                                                                                            (click)="abrirLink(detalle?.carcadj)" target="_blank">
                                                                                            <i class="mdi mdi-account"></i>
                                                                                            Descargar Archivo
                                                                                          </button>
                                                                                        </div>
                                                                                        
                      
                                                                                      </div>
                                                                                    </form>
                                                                                  </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <h5 class="modal-title">Recuerde validar los datos</h5>
                                                                        </div>
                                
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                                </div>

                                                                <!-- ACTUALIZAR -->
                                                                <div class="modal animated fadeIn" id="modal-lg" style="padding-right: 17px;" aria-modal="true" [ngClass]="showUpdate" [ngStyle]="{'display':colorEstadoUpdate}"
                                                                role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title">Detalle Ticket</h4>
                                                                            <button (click)="cerrarModal('update')" type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-bodyUpdate"> 
                                                                            <div class="card-body">
                                                                                    <form class="forms-sample"  [formGroup]="TicketAsignado!" (ngSubmit)="guardarTicket()" >
                                                                                      <div class="form-group row">
                                                                                        
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Descripcion : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="Asunto" disabled value="{{detalle?.cdesasu}}">
                                                                                        </div>

                                                                                        <label class="col-sm-3 col-form-label">Atencion al cliente :</label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="El dia en numero" disabled value="{{detalle?.cateasi.cnomusu}}" >
                                                                                        </div>

                                                                                        <label class="col-sm-3 col-form-label">Dias permitidos : </label>
                                                                                        <div class="col-sm-9">
                                                                                          <input type="text" class="form-control bordercustom" placeholder="El dia en numero" disabled value="{{detalle?.cdiaapr}}" >
                                                                                        </div>
                                                                                        
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Analista :</label>
                                                                                        <div class="col-sm-9">
                                                                                          <select class="form-control form-control-sm bordercustom" formControlName="cestado">
                                                                                            <option *ngFor="let r of rpta" value="{{r.data}}">{{r.data}}</option>
                                                                                          </select>
                                                                                        </div>
                                                                                        
                                                                                        <label class="col-sm-3 col-form-label">Descripcion Desarrollo</label>
                                                                                        <div class="col-sm-9" style="padding-bottom: 20px;">
                                                                                          <textarea class="form-control bordercustom" id="exampleTextarea1" rows="6" formControlName="cdesdes"></textarea>
                                                                                        </div>                                                                                       
                      
                                                                                      </div>
                                                                                      <div class="btnderecha">
                                                                                        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
                                                                                      </div>
                                                                                    </form>
                                                                                  </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <h5 class="modal-title">Recuerde validar los datos</h5>
                                                                        </div>
                                
                                                                    </div>
                                                                    <!-- /.modal-content -->
                                                                </div>
                                                                <!-- /.modal-dialog -->
                                                                </div>
                                                        </div>
                                                </div>

                                    </div>
                            </div>

                    </div>
            </div>

    </div>
</div>